<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RP Digital Bank - Add Member</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style>
.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}

.form-label {
	font-weight: bold;
}

.form-control {
	border-color: #28a745;
}

.form-control.is-invalid {
	border-color: #dc3545;
}

.invalid-feedback {
	color: #dc3545;
}
</style>
</head>
<body>
	<div class="container">
	<div th:replace="fragments/header"></div>
		<h1>Register a New Member</h1>
		<form th:action="@{/Member/save}" method="post" th:object="${member}"
			novalidate>
			<div class="mb-3 col-5">
				<!-- Name -->
				<div class="mb-3 col-5">
					<label for="member_name" class="form-label">Member Name:</label> <input
						id="member_name" type="text" class="form-control"
						th:field="*{name}" required />
					<div class="invalid-feedback">Please enter a valid Name.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></p>
				</div>

				<!-- Username -->
				<div class="mb-3 col-5">
					<label for="member_username" class="form-label">Username:</label> <input
						id="member_username" type="text" class="form-control"
						th:field="*{username}" required />
					<div class="invalid-feedback">Please enter a Username.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('username')}"
						th:errors="*{username}"></p>
				</div>

				<!-- Password -->
				<div class="mb-3 col-5">
					<label for="member_password" class="form-label">Password:</label> <input
						id="member_password" type="password" class="form-control"
						th:field="*{password}" required />
					<div class="invalid-feedback">Please enter a valid Password.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></p>
				</div>
				<div class="mb-3 col-5">
                    <label for="member_email" class="form-label">Email:</label>
                    <input id="member_email" type="email" class="form-control" th:field="*{email}" required />
                    <div class="invalid-feedback">Please enter a valid Email.</div>
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>

				<!-- NRIC -->
				<div class="mb-3 col-5">
					<label for="nric" class="form-label">NRIC</label> <input id="nnric"
						type="text" class="form-control" th:field="*{nric}" required />
					<div class="invalid-feedback">Please enter a valid NRIC</div>
					<p class="text-danger" th:if="${#fields.hasErrors('nric')}"
						th:errors="*{nric}"></p>
				</div>

				<!-- Role -->
				<div class="mb-3 col-5">
					<label for="role" class="form-label">Role</label> <select
						id="member_role" class="form-control" th:field="*{role}">
						<option value="ROLE_USER">User</option>
						<option value="ROLE_ADMIN">Admin</option>
						<option value="ROLE_BO">Back Office</option>
						<option value="ROLE_FA">Financial Advisors</option>
					</select>
					<div class="invalid-feedback">Please select a role.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('role')}"
						th:errors="*{role}"></p>
				</div>
				<button type="submit" class="btn btn-primary">Register a
					New Member</button>
		</form>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>