<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RP Digital Bank - Forget Password</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <div th:replace="fragments/header"></div>
        <h1>Forget Password</h1>
        <form th:action="@{/forget}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Enter Username</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Enter Email</label>
                <input type="email" id="email" name="email" class="form-control" required />
            </div>

            <div th:if="${error}" class="alert alert-danger mt-2">
                <p th:text="${error}"></p>
            </div>

            <button type="submit" class="btn btn-primary">Request OTP</button>
        </form>
    </div>
</body>
</html>
