<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Rp Digital Bank - Home</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

				<div th:replace="fragments/header"></div>
		

		<h1>Welcome to Rp Digital Bank!</h1>

		<!-- 			<div th:replace="fragments/footer"></div> -->

	</div>
</body>
</html>