<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RP Digital Bank - View All Members</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OgwbZS749si9qIkU7jkUXl65JYawEo3QQQgkSYiHqZBVUjDjyBXIFvAdJDfwCSLfQasdhXa65yYwR5OogeFzSrhznvHRVB8NU"
        crossorigin="anonymous"></script>
    <style>
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            border-color: #28a745;
        }

        .form-control.is-invalid {
            border-color: #dc3545;
        }

        .invalid-feedback {
            color: #dc3545;
        }
    </style>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header"></div>
        <main>
            <h1>View Members</h1>
            <div class="alert alert-primary success-alert" role="alert"
                 th:text="${success}" th:if="${success}"></div>
            <a href="/Member/add" class="btn btn-success add-member-btn">Add Member</a>
            <a href="/Member/Export" class="btn btn-primary">Export Members CSV</a>
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Member</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>NRIC</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="member : ${listMembers}">
                            <td th:text="${member.customId}"></td>
                            <td th:text="${member.name}"></td>
                            <td th:text="${member.username}"></td>
                            <td th:text="${member.email}"></td>
                            <!-- Display only the last 4 digits of the NRIC -->
                            <td th:text="${#strings.substring(member.nric, member.nric.length() - 4)}"></td>
                            <td th:text="${member.role}"></td>
                            <td class="action-buttons">
                                <a th:href="@{/Member/edit/{id}(id=${member.id})}" class="btn btn-primary">Edit</a>
                                <button th:onclick="'confirmDelete(' + ${member.id} + ')'" class="btn btn-danger">Delete</button>
                                <a th:if="${member.role == 'ROLE_USER'}" th:href="@{/Admin/Member/Report/{id}(id=${member.id})}" class="btn btn-warning">Report</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div th:replace="fragments/footer"></div>
    </div>
    <script>
        function confirmDelete(id) {
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                window.location.href = "/Member/delete/" + id;
            } else {
            }
        }
    </script>
</body>
</html>
